/*Вся основная разметка главной страницы*/

.container {
    height: 90vh;
    display: grid;
    grid-template-columns: 3% 10% 8.8% 18.8% 1.9% 15% 1.9% 18.8% 8.8% 10% 3%;
    grid-template-rows: 3% 9% 5% 7% 20% 38% 5% 10% 3%;
}

.container > div{
    border: 3px solid #000;
    border-radius: 10px;
    background: #FFF;
}

#planet_levels {
    background: url(../../Image/SolarSystem.png) no-repeat center/contain #FFF;
    grid-column: 2 / span 9;
    grid-row: 2;
}

#coin_counter {
    font-size: 3.5vw;
    color: brown;
    grid-column: 5 / span 3;
    grid-row: 4;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ore_counter {
    grid-column: 10;
    grid-row: 4 / span 2;
}

#ufo {
    color: grey;
    font-size: 4vw;
    border: none;
    background: none;
    margin: auto;
    grid-column: 5 / span 3;
    grid-row: 5;
}

#planet {
    color: grey;
    font-size: 5vw;
    border: none;
    background: none;
    margin: auto;
    grid-column: 5 / span 3;
    grid-row: 6;
}

#fuel_info {
    width: 70%;
    margin: 0 auto;
    grid-column: 4 / span 2;
    grid-row: 8;
}

#notification {
    width: 70%;
    margin: 0 auto;
    grid-column: 6;
    grid-row: 7 / span 2;
}

#time_counter_mini_game {
    width: 70%;
    margin: 0 auto;
    grid-column: 7 / span 2;
    grid-row: 8;
}

/*Разметка под окно с рудами*/

#ore_counter{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
}

#ore_counter > * {
    font-size: 1.2vw;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Руды*/

#ore_one{
    grid-column: 4;
}

#ore_two{
    grid-column: 4;
    grid-row: 2;
}

#ore_three{
    grid-column: 4;
    grid-row: 3;
}

#ore_four{
    grid-column: 4;
    grid-row: 4;
}

/*Суммы руд*/

#sum_ore_one{
    grid-column: 3;
    grid-row: 1;
}

#sum_ore_two{
    grid-column: 3;
    grid-row: 2;
}

#sum_ore_three{
    grid-column: 3;
    grid-row: 3;
}

#sum_ore_four{
    grid-column: 3;
    grid-row: 4;
}

/*Счет руд*/

#counter_ore_one{
    grid-column: 1;
    grid-row: 1;
}

#counter_ore_two{
    grid-column: 1;
    grid-row: 2;
}

#counter_ore_three{
    grid-column: 1;
    grid-row: 3;
}

#counter_ore_four{
    grid-column: 1;
    grid-row: 4;
}

/*Конец разметка под окно с рудами*/